.Cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.Card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    margin-bottom: 50px;
    transition: all 0.5s;
}

.Card:hover{
    box-shadow: black 0px 5px 10px;
}

#cardImg{
    width: 400px;
}