.NewsDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 50px;
}

.titulo{
    display: flex;
    justify-content: center;
}

.cuerpo{
    display: flex;
    justify-content: center;
}