.NavMuni{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
}

.NavMuni2{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.botonesNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    flex-wrap: wrap;
}

#btn{
    border: none;
    background: none;
    color: #2A9D8F; 
}

#btn:hover{
    color: black;
    background-color: none;
}

#btnDrop{
    background: none;
    border: none;
    color: #2A9D8F;
}

#btnDrop:hover{
    background: none;
    border: none;
    color: black;
}

.search{
    display: flex;
    justify-content: right;
}

#btnBuscar{
    background: none;
    border: none;
    color: #2A9D8F;
}

#btnBuscar:hover{
    background: #2A9D8F;
    border: none;
    color: white;
}

.logo-nav{
    width: 250px;
}

@media screen and (max-width: 430px) {

    .botonesNav{
        display: flex;
        flex-direction: column;  
        flex-wrap: wrap;
    }
    
}